<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Company Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  {% include "./stock/theme/w3company.css.jinja" %}
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

{% include "./stock/theme/w3company-navbar.html.jinja" %}

{% include "./stock/theme/w3company-jumbotron.html.jinja" %}

{% include "./stock/theme/w3company-about-div.html.jinja" %}

{% include "./stock/theme/w3company-services-div.html.jinja" %}

{% include "./stock/theme/w3company-portfolio-div.html.jinja" %}

{% include "./stock/theme/w3company-pricing-div.html.jinja" %}

{% include "./stock/theme/w3company-contact-div.html.jinja" %}

{% include "./stock/theme/w3company-footer.html.jinja" %}


<script>
{% include "./stock/theme/w3company.css.jinja" %}
</script>

</body>
</html>

