

/**
 * BLOCKLY GENERATOR STUB: HTML TAG - {{ tag.name }}
 * @param  {[type]} block [description]
 * @return {[String]}       [{{ tag.name }} innerHTML {{ tag.name }}]
 */
Blockly.Python['{{ tag.name }}'] = function(block) {
    var statements_innerhtml = Blockly.Python.statementToCode(block, 'innerHtml');
    var code = '{{ tag.name }}' + statements_innerhtml + '{{ tag.name }}\n';
    return code;
}

